 
.otto-number {
  display: inline;
  padding: 0px 2px;
  margin-right: 3px;
  background: red;
  color: white;
  border-radius: 2px;
}

.otto-number.top10 {
  background: linear-gradient(to right, hsl(0deg 100% 80%) , hsl(60deg 100% 80%), hsl(120deg 100% 80%), hsl(180deg 100% 80%), hsl(240deg 100% 80%), hsl(300deg 100% 80%));
  color: black;
  font-weight:bold;
  animation: otto-rainbow 5s linear infinite;
}

@keyframes otto-rainbow {
    from {
        background-position-x: 0px;
    }
    to {
        background-position-x: 60px;
    }
}

.otto-number.top100 {
  background: linear-gradient(45deg, #ffea00, #ffe567);
  color: black;
}
.otto-number.top500 {
  background: linear-gradient(45deg, #8c00af, #fb00ff);
  color: white;
}
.otto-number.top1000 {
  background: linear-gradient(45deg, #1f00c9, #2c8aff);
  color: white;
}
.otto-number.top5000 {
  background: linear-gradient(45deg, #4eff4b, #b3ffb9);
  color: black;
}
.otto-number.top10000 {
  background: lightgray;
  color: black;
}
